.curtain-container {
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #333;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff6600;
  transition: transform 1s ease-in-out;
  z-index: 2;
}

.curtain-container:hover .curtain {
  transform: translateY(-100%);
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
}
